@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --color-primary: var(--ui-primary);

  --font-inter: 'Inter', sans-serif;
  --default-font-family: var(--font-inter);
}

:root {
  --ui-primary: var(--ui-black);
  --ui-black: black;
  --ui-white: white;
}

#__nuxt {
  @apply flex flex-col min-h-screen;
}
#__nuxt > main {
  @apply flex-1;
}